<h1>Step 1: Choose your model and color</h1>
<label for ="modelSelect">Model:</label>
<select name="model" id="modelSelect" [(ngModel)]="modelCode" (change)="modelSelect()">
    <option value="" disabled selected>Choose...</option>
    <option *ngFor="let model of models" [value]="model.code">{{model.description}}</option>
</select>
<ng-container *ngIf="modelCode">
    <label for ="colorSelect">Color:</label>
    <select name="color" id="colorSelect" [(ngModel)]="colorCode" (change)="generateImageUrl()">
        <option *ngFor="let color of colors" [ngValue]="color.code">{{color.description}}</option>
    </select>
</ng-container>
<ng-container *ngIf="dataService.colorCode">
    <app-image></app-image>
</ng-container>